@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

button {
    all: unset;
    cursor: pointer;
    transition: transform 0.1s ease;
}

button:hover {
    background-color: #f2f2f2;
}

button:active {
    transform: scale(0.96);
}

p {
    margin: 0;
    margin-top: 4px;
}

.wrapper {
    max-width: 320px;
    margin: 10px auto;
    position: relative;
}

body {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}

.chat-panel {
    display: flex;
    justify-content: space-between;
}

.button-settings,
.button-exit {
    padding: 6px 8px;
    background-color: white;
    border: 1px black solid;
}

.chat-list {
    margin-top: 8px;
    padding: 8px;
    display: flex;
    flex-direction: column-reverse;
    gap: 8px;
    border: 1px black solid;
    height: 437px;
    overflow: auto;
    scroll-behavior: smooth;
}

.message-interlocutor,
.message-me,
.message-from {
    background-color: #E5E5E5;
    padding: 8px;
}

.message-interlocutor {
    align-self: flex-start;
}

.message-me {
    align-self: flex-end
}

.message-from {
    align-self: flex-start
}

.message-time {
    color: #333333;
    font-weight: 300;
    font-size: 14px;
    justify-content: end;
    display: flex;
}

.chat-send {
    margin-top: 8px;
    display: flex;
    gap: 8px;
    width: 100%;
}

input {
    padding: 7px;
    border: 1px black solid;
    box-sizing: border-box;
    flex: 1;
}

.button-send {
    border: 1px black solid;
    padding: 6px 8px 7px;
}

.newP {
    text-align: center;
    color: rgb(66, 65, 65);
    font-size: 18px;
}

.chat-area {
    position: relative;
}

.button-down {
    display: flex;
    border: 1px black solid;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    font-size: 24px;
    position: absolute;
    right: 15px;
    bottom: 10px;
    background-color: #ffffff;
    align-items: center;
    color: #555555;
    display: none;
}

.button-down.visible {
    display: flex;
}

.button-down img {
    width: 20px;
    height: 20px;
}